@font-face {
    font-family: 'PKMN RBYGSC';
    src: url('PKMN-RBYGSC.woff2') format('woff2'),
        url('PKMN-RBYGSC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

